<%= render partial: "jobs/form" %>
<%= render partial: "printers/form" %>

<div class="center-wrapper">
    <div class="cover inner">
      <h1 class="cover-heading">Get ready to prnt.</h1>
      <p class="lead">prnt is a super simple low-cost service to provide printing of stuff, wherever you are, whenever you want.</p>
      <p class="lead">
        <a class="btn btn-lg btn-default btn-huge" data-toggle="modal" data-target="#myModal">
          <span class="glyphicon glyphicon-print"></span>
          Print
        </a>
        &nbsp;&nbsp;
        <a class="btn btn-lg btn-default btn-huge" data-toggle="modal" data-target="#printerModal">
          <span class="glyphicon glyphicon-share"></span>
          Print
        </a>
      </p>

    </div>
</div>
<div class="mastfoot">
      <p>Copyright 2014 - Widowmakers</p>
</div>
